version: "3.9"

services:
  app:
    image: devops-spring-boot-demo:multistage
    container_name: spring-boot-app
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/devopsdb
      SPRING_DATASOURCE_USERNAME: devops
      SPRING_DATASOURCE_PASSWORD: devops
    depends_on:
      - db
    networks:
      - devops-network

  db:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: devopsdb
      POSTGRES_USER: devops
      POSTGRES_PASSWORD: devops
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - devops-network

networks:
  devops-network:
    driver: bridge

volumes:
  postgres-data: